# Project 3: Recommender Systems
### Serena Tang, Liwen Yang, Winston Wang

### QUESTION 1
***Explore the Dataset: In this question, we explore the structure of the data.***
- ***A) Compute the sparsity of the movie rating dataset:*** $Sparsity = \dfrac{Total number of available ratings}{Total number of possible ratings}$
    - The spasity of the movie rating dataset is 1; this implies that all ratings are available.

In [1]:
import pandas as pd
import numpy as np

# import ratings data
ratings_df = pd.read_csv('ratings.csv')
ratings = ratings_df.rating

# map userIDs

In [7]:
ratings_df.sort_values(by='userId')

       Unnamed: 0  userId  movieId  rating   timestamp
3700         3700       1        6     4.5   964982224
35106       35106       1      500     3.0   964981208
41885       41885       1      356     4.0   964980962
20190       20190       1     2478     4.0   964984169
23472       23472       1     1777     4.0   964981230
...           ...     ...      ...     ...         ...
75641       75641     610     7894     3.5  1479544798
69809       69809     610    59022     4.0  1493846893
54751       54751     610      904     5.0  1493850276
4193         4193     610   100163     3.0  1493847984
44166       44166     610     7360     4.0  1493846048

[100836 rows x 5 columns]

- ***B) Plot a histogram showing the frequency of the rating values: Bin the raw rating values into intervals of width 0.5 and use the binned rating values as the horizontal axis. Count the number of entries in the ratings matrix R that fall within each bin and use this count as the height of the vertical axis for that particular bin. Comment on the shape of the histogram.***

C Plot the distribution of the number of ratings received among movies: The X-axis
should be the movie index ordered by decreasing frequency and the Y -axis should be the number
of ratings the movie has received; ties can broken in any way. A monotonically decreasing trend
is expected.
D Plot the distribution of ratings among users: The X-axis should be the user index ordered
by decreasing frequency and the Y -axis should be the number of movies the user has rated.
The requirement of the plot is similar to that in Question C.
E Discuss the salient features of the distributions from Questions C,D and their implications
for the recommendation process.
F Compute the variance of the rating values received by each movie: Bin the variance
values into intervals of width 0.5 and use the binned variance values as the horizontal axis.
Count the number of movies with variance values in the binned intervals and use this count as
the vertical axis. Briefly comment on the shape of the resulting histogram.